html
{
    font-size: 62.5%;
}

body
{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #E5E7EB;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.global_container
{
    display: flex;
    width: 100vw;
    height: 100vh;
}

img.background-image
{
    width: max(90vw, 45%);
    height: min(100%, 150%);
    position: relative;
    top: 0;
    left: 0;
}

.side_global_container
{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
}

.side_global_container div
{
    display: flex;
    flex-direction: column;
    width: ;
    height: 33.333vh;
    border: 1px solid lightgray;
    font-weight: bolder;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

