html
{
    font-size: 62.5%;
}


body
{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #E5E7EB;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img.background-image
{
    width: min(300px, 30%);
    height: min(100%, 150%);
    position: absolute;
    top: 0;
    left: 0;
}

#first-container
{
    font-size: 3rem;
    display: flex;
    position: fixed;
    left: 300px;
    bottom: 53%;
    width: min(800px, 70%);
    height: min(500px, 50%);
}
